.head{
    background-color: #fae4c3;
    border: 2px solid blue;
    padding: 2px;
    align-items: center;
    align-content: space-around;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.titulo{
    background-color: #92cdf7;
    display: inline;
    font-size: 30px;
    color: black;
    text-align: center;
    align-items: center;
    align-content: space-between;
    display: flex;
    justify-content: center;
    gap: 60px;
   

}

.p1{
    font-family: sans-serif;
    font-size: 20pt;
    color: royalblue;
}

 table{
        border: 2px solid red;
        border-style: dotted;

        
}
th, td{
        border: 2px solid #d46e70;
        padding: 6px;
}
.sites{
    background-color: #fcff2e;
    width: 400px;
    align-items: center;
    justify-content: center;
    
    
}

.container-sites {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.links{
    color: red;
    
    
}

.footer{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #fae4c3;
    padding: 2px;
    width: 600;
    gap: 150px;
    font-size: 15pt;
    font-family:comic ;
}

p{
    text-align: center;
    font-size: 30px;
}


.livros{
    align-items: center;
    align-content: space-between;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.iframe{
    align-items: center;
    align-content: space-between;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.contatos{
    align-items: center;
    align-content: space-between;
    display: flex;
    justify-content: center;
}

.Nome{
    color: red;
}

.Email{
    color: red;
}

.textoverde{
    color: green;
}

.texto{
    font-size: 15pt;
    flex-grow: 1;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

body{
    background-color: lightgray;
}