#title{

    text-align: center;
}

#teste {
    color: green;
    font-size: 18pt;
}

 a:hover{
    color: black;
 }

 table{
        border: 2px solid black;
        border-collapse: collapse;
}

th, td{
        border: 2px solid black;
        padding: 6px;
}

div p{
    color: blueviolet;
    font-size: 18pt;
}
    