
#canvas{

    border: 1px solid black

}

#canvas2{

    border: 1px solid black

}

body{
    display: flex;
    justify-content: center;
  
   
}

.portifolio{
    display: flex;
    align-self: flex-start;

   
}

